{{define "navbar"}}
<nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar py-3">
    <div class="position-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="/clubs">Clubs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/divisions">Divisions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/sportsmen">Sportsmen</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/competitions">Competitions</a>
            </li>
        </ul>
    </div>
</nav>
{{end}}