{{define "competitions"}}
{{template "header" .}}
<style>
    .clickable-row {
        cursor: pointer
    }
    .clickable-row:hover {
        background-color: #8193a5cc
    }
</style>
<h1>Competitions</h1>
<div class="d-flex justify-content-end mb-3">
    <a href="/competitions/create" class="btn btn-primary">Add Competition</a>
</div>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>City</th>
    </tr>
    </thead>
    <tbody>
    {{range .Competitions}}
        <tr class="clickable-row" data-href="/competitions/{{.Id}}">
            <td>{{.Name}}</td>
            <td>{{.StartDate.Format "2006-01-02"}}</td>
            {{with .StartDate.AddDate 0 0 .Duration}}
                <td>{{.Format "2006-01-02"}}</td>
            {{end}}
            <td>{{.City}}</td>
            <td>
                <a href="/competitions/edit/{{.Id}}" class="btn btn-sm btn-warning">Edit</a>
                <a href="/competitions/delete/{{.Id}}" class="btn btn-sm btn-danger">Delete</a>
            </td>
        </tr>
    {{end}}
    </tbody>
</table>
<script>
    document.querySelectorAll(".clickable-row").forEach(function (row) {
        row.addEventListener("click", function () {
            const href = this.getAttribute("data-href");
            if (href) {
                window.location.href = href;
            }
        });
    });
</script>
{{template "footer" .}}
{{end}}